.headercontainer h1 {
  font-weight: normal;
  font-size: 50px;
  color: white;
}

body {
  background-color: black;
  text-align: center;
  font-family: Verdana;
}

.downloadnow {
  color: aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}

h3 {
  font-size: 21px;
  color: gray;
}
